* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.2rem;
}

main {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
a.footer-link {
    font-size: 14px;
    color: #074883;
}
footer div.footer-2 {
    background-color: #074883;
}

@media (max-width: 767px) {
    * {
        font-size: 0.9rem;
    }
}