:root {
    --blue-color: #1864AB;
    --light-blue-color: #E7F5FF;
    --dark-blue-color: #074883;
    --white-color: #fff;
}

a.logo {
    font-size: 20px;
}
section#home-section {
    background-color: transparent;
    height: auto;
    width: 100%;
    overflow: hidden;
}
section#home-section div.container {
    padding-top: 12%;
    padding-bottom: 5%;
}
div.statistics-card {
    cursor: pointer;
    background-color: var(--white-color);
    position: relative;
    color: var(--dark-blue-color);
    transition: 0.3s ease;
    z-index: 1;
}
div.statistics-card::after {
    content: " ";
    position: absolute;
    height: 3%;
    width: 0%;
    bottom: 0px;
    background-color: var(--dark-blue-color);
    border-radius: 3px;
    transition: 0.2s ease;
}
div.statistics-card:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    transition: 0.2s ease;
    z-index: 5;
}
div.statistics-card:hover::after {
    width: 100%;
    transition: 0.3s ease;
}
div.statistics-card div p.title {
    font-size: 15px;
}
select#select-country option {
    font-size: 15px;
}
div.select-country div select {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
div.select-country div button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
div.state-data-card {
    cursor: pointer;
    background-color: var(--white-color);
    transition: 0.3s ease;
}
div.state-data-card div * {
    color: var(--dark-blue-color);
}
div.state-data-card:hover div * {
    color: var(--white-color);
} 
div.state-data-card:hover {
    background-color: var(--dark-blue-color);
    transition: 0.3s ease;
    transform: scale(1.1); 
}
div.state-data-card div h5 {
    font-size: 15px;
}
div.state-data-card div p {
    font-size: 13px;
}


@media (max-width:767px) {
    section#home-section div.container {
        padding-top: 30%;
        padding-bottom: 10%;
    }
   img.doctors-img {
       height: 200px;
       width: auto;
   }
}