:root {
    --blue-color: #1864AB;
    --light-blue-color: #E7F5FF;
    --dark-blue-color: #074883;
    --white-color: #fff;
}

section#search-section {
    background-color: transparent;
    height: auto;
    width: 100%;
    overflow: hidden;
}
section#search-section div.container {
    padding-top: 10%;
    padding-bottom: 5%;
}

@media (max-width:767px) {
    section#search-section div.container {
        padding-top: 25%;
        padding-bottom: 10%;
    }
}